.main_container {
  height: calc(100% - 72px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: left 0.375s, width 0.375s;
  margin: 0;
  padding: 0;
}