.playlist_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.playlist_browse {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 74px;
}

.playlist_select {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 350px;
    border: 1px solid black;
    border-radius: 5px;
}

.playlist_select:hover {
    background-color: grey;
}

.playlist_image {
    width: 192px;
    height: 192px;
    margin-top: 8px;
}

.playlist_empty_image {
    width: 192px;
    height: 192px;
    margin-top: 8px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist_title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 28px;
    width: calc(100% - 10px);
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}

.playlist_description {
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 10px);
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    margin: 0;
}

.playlist_view_container {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 100px;
}

.playlist_view_header {
    display: flex;
    padding-left: 32px;
    align-items: center;
    text-align: left;
}

.playlist_view_cover {
    height: 256px;
    width: 256px;
    padding-right: 10px;
}

.playlist_empty_cover {
    min-width: 256px;
    min-height: 256px;
    margin-right: 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist_view_edit_container {
    display: flex;
    flex-direction: column;
}

.playlist_view_flex_container {
    display: flex;
    flex-direction: column;
}

.playlist_view_title {
    font-size: 48px;
    margin: 0;
    padding-bottom: 10px;
}

.playlist_view_description {
    font-weight: normal;
    font-size: 16px;
    margin: 0;
    padding-bottom: 10px;
    color: lightgray;
}

.playlist_view_info_container {
    display: flex;
}

.playlist_view_owner {
    font-size: 14px;
    font-weight: normal;
    padding-right: 10px;
    margin: 0;
}

.playlist_view_count {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.playlist_item_flex {
    display: flex;
    width: 100%;
    align-items: center;
}

.playlist_item_flex:hover {
    background-color: lightgrey;
    border-radius: 5px;
}

.playlist_item_container {
    display: flex;
    width: calc(100% - 96px);
    height: 64px;
    align-items: center;
}

.playlist_item_number {
    font-size: 24px;
    width: 64px;
}

.playlist_item_image {
    height: 64px;
    width: 64px;
}

.playlist_item_info_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.playlist_item_name {
    font-size: 20px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.playlist_item_artists {
    font-size: 16px;
    margin: 0;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.playlist_item_album {
    font-size: 20px;
    width: 140px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 20px;
}

.playlist_item_added_at {
    font-size: 20px;
    text-align: left;
    padding-right: 20px;
}

.playlist_item_duration {
    font-size: 20px;
    text-align: left;
}

.playlist_view_add_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playlist_view_add_title {
    font-size: 32px;
    min-width: 100%;
    margin: 0;
    padding-bottom: 10px;
}

.playlist_view_add_search_bar {
    padding-bottom: 20px;
}

.playlist_view_add_tracks {
    display: flex;
    flex-direction: column;
    justify-content: left;
    min-width: 100%;
    gap: 5px;
}

.playlist_view_add_track {
    display: flex;
    padding-left: 32px;
    align-items: center;
}

.playlist_view_add_track:hover {
    background-color: lightgrey;
    border-radius: 5px;
}

.playlist_view_add_cover {
    height: 64px;
    width: 64px;
}

.playlist_view_add_track_info_container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 10px;
    width: calc(100% - 206px);
}

.playlist_view_add_track_info_title {
    font-size: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.playlist_view_add_track_info_name {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.playlist_view_history_buttons {
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
    gap: 100px;
    justify-content: center;
}