.search_results_container {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 65px;
    z-index: 1;
}

.search_result:hover {
    background-color: #b3b3b3;
}

.search_result {
    display: flex;
    width: 100%;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.search_result_image {
    width: 64px;
    height: 64px;
    margin: 5px;
}

.search_result_info {
    height: 100%;
    width: calc(100% - 84px);
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.search_result_name {
    font-size: 24px;
    margin: 0;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.search_result_artists {
    font-size: 16px;
    margin: 0;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}